body
{
	background: grey;
}

#blockpage
{
	background: yellow;
	max-width: 1000px;
	margin: 0 auto;
}

h1
{
	line-height: 0;
}

h4
{
	line-height: 0;
	font-size: 0.75em;
}

/*//////// Navigation START ////////*/

nav
{
    margin:0;
    width:600px;
}

#menu
{
    padding:0;
    list-style: none;
    width:550px;
    font-size: 18px;
    background: #c1c1c1;
    border: 1px solid rgba(0,0,0,0.7);
}

#menu li a
{
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2)
    border-top: 1px solid rgba(255,255,255,0.2)
    background:#3e3f44;
    text-decoration: none;
    text-shadow: 1px 0 1px #000;
    padding: 10px;
}

#menu li ul li a
{
    font-size: 14px;
    color:#47689d;
    text-shadow: 1px 0 1px #000;
    padding: 10px;
}

#menu lia:hover
{
    background:#4a6ba2;
}

#menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li a
{
    background: #d2d2d2;
}

#menu ul li a:hover
{
    background: #c1c1c1;
}




/*//////// Navigation END ////////*/

#banner
{
	background-image: url(img/banner.jpg);
	background-size: 100% 100%;
	min-height: 400px;
    border-radius: 15px;
    color: #ffffff;
}

